@import '../../../assets/styles/abstracts/index';

.results {
  position: relative;
  min-width: 31%;
  max-width: 40%;
  padding: 25px;
  border: 1px solid #eef7ff;
  background-color: #def0f0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;

  @include isMobile() {
    min-width: unset;
    max-width: unset;
    width: 100%;
  }
}

.info {
  display: flex;
  flex-direction: column;

  .number {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 10px;
    border-radius: 100%;
    font-size: 20px;
    font-weight: bold;
    background-color: #7fc7d9;
    color: #eef7ff;
    left: 2px;
    top: 0px;
  }

  .answeredQuestions {
    font-size: 22px;
  }

  .correct {
    font-size: 20px;
  }

  .wrong {
    font-size: 18px;
  }
}

.buttonWrapper {
  display: flex;
  gap: 20px;

  button {
    padding: 5px 10px;
    border-radius: 10px;
  }

  .more {
    background-color: #cfbacf;
    color: #eef7ff;
    border: 1px solid #eef7ff;
  }

  .delete {
    background-color: red;
    color: #eef7ff;
    border: 1px solid #eef7ff;
  }
}
