@import '../../assets/styles/abstracts/index';

.wrapper {
  display: flex;
  gap: 100px;
  padding-top: 30px;

  @include isMobile() {
    display: flex;
    flex-direction: column-reverse;
    padding-top: unset;
    gap: 30px;
  }

  .savedQuestionWrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &.widthFull {
      width: 100%;
    }
    @include isMobile() {
      width: 100%;
    }

    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 50px;

      @include isMobile() {
        padding-top: unset;
      }
    }

    .notFoundText {
      text-align: center;
      font-size: 1.5rem;
    }
  }
}

.asa {
  width: 40%;

  @include isMobile() {
    width: 100%;
  }
}
