@import '../../assets/styles/abstracts/index';

.buttonWrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;

  .link {
    color: #eef7ff;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 1.6rem;
    background: #cfbacf;
  }

  @include isMobile() {
    flex-direction: column;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
  flex-direction: column;
  gap: 20px;

  @include isMobile() {
    padding-top: 50%;
  }

  h1 {
    padding-bottom: 10px;
    font-size: 1.9rem;
    font-weight: bold;

    @include isMobile() {
      font-size: 1.5rem;
    }
  }
}
