@import '../../assets/styles/abstracts/index';

.header {
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: 500;

  @include isMobile() {
    font-size: 20px;
  }
}

.haveResult {
  display: flex;
  justify-content: center;
  align-items: center;
}

.totalResults {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @include isMobile() {
    display: flex;
    justify-content: center;
  }

  .wrapper {
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 50px;

      @include isMobile() {
        padding-top: unset;
      }
    }

    .notFoundText {
      text-align: center;
      font-size: 1.5rem;
    }
  }
}
