@import 'src/assets/styles/abstracts/index';

.chaker {
  .questionNumber {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    background-color: #7ab2b2;
    border: 1px solid #cfbacf;
    border-radius: 5px;

    @include isMobile() {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      min-height: 195px;
    }
  }

  .savedIcons {
    cursor: pointer;

    @include isMobile() {
      position: absolute;
      top: 0;
      right: -1px;
    }
  }

  h2 {
    width: 100%;
    padding: 40px;
    font-size: 1.4rem;
    color: #eef7ff;

    @include isMobile() {
      font-size: 1.2rem;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;

    @include isMobile() {
      gap: 10px;
      padding-top: 20px;
    }

    .default {
      display: flex;
      justify-content: space-between;
      text-align: left;
      font-size: 1.2rem;
      border-radius: 10px;
      padding: 20px;
      border: 2px solid #cfcdd9;

      @include isMobile() {
        padding: 10px;
        font-size: 1rem;
      }
    }
  }
}

.correct {
  border: 2px solid #3a705d !important;
  background-color: #e2f0eb;
  color: #292929 !important;
}

.wrong {
  border: 2px solid #ea5a75 !important;
}

.unanswered {
  color: #f44336;
  border: 1px solid #f44336;
}
