@import "src/assets/styles/abstracts/index";

@tailwind base;
@tailwind components;
@tailwind utilities;


*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;

}

html, body {
  font-family: 'Manrope', sans-serif;
  background-color: #faf5e6;
}
