@import 'src/assets/styles/abstracts/index';

.wrapper {
  .header {
    display: flex;
    justify-content: space-between;
    background-color: #7ab2b2;
    border: 1px solid #6c5ce7;
    border-radius: 5px;

    @include isMobile() {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      min-height: 195px;
    }
  }

  h2 {
    width: 100%;
    padding: 40px;
    font-size: 1.4rem;
    color: #eef7ff;

    @include isMobile() {
      font-size: 1.2rem;
    }
  }

  .savedIcons {
    cursor: pointer;
    @include isMobile() {
      position: absolute;
      top: 0;
      right: -1px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;

    @include isMobile() {
      gap: 10px;
      padding-top: 20px;
    }

    .default {
      height: 73px;
      display: flex;
      justify-content: space-between;
      text-align: left;
      font-size: 1.2rem;
      border-radius: 10px;
      padding: 20px;
      border: 2px solid #cfcdd9;

      @include isMobile() {
        padding: 10px;
        font-size: 1rem;
      }
    }
  }
}

.correct {
  background-color: #e2f0eb;
}

.openQuiz {
  border-left: 2px solid #3a705d !important;
  background-color: unset;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
