@import '../../../../assets/styles/abstracts/index';

.wrapper {
  width: 26%;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include isMobile() {
    position: unset;
    width: unset;
  }

  .totalSavedQuestions {
    box-shadow:
      rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
      rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    background-color: #f9ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    min-height: 40vh;
    padding-top: 10px;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 15px;

    @include isMobile() {
      height: 25rem;
    }

    h3 {
      font-size: 1.2rem;
    }

    .btnWrapper {
      display: flex;
      gap: 15px;
    }

    .btn1 {
      transition: all 0.4s ease;
      background-color: #7ab2b2;
      padding: 10px 15px;
      color: #eef7ff;
      border-radius: 10px;

      &:hover {
        transform: scale(1.1);
        background-color: #8dc9c9;
      }
    }

    .btn2 {
      transition: all 0.4s ease;
      background-color: #3a705d;
      padding: 10px 15px;
      color: #eef7ff;
      border-radius: 10px;

      &:hover {
        transform: scale(1.1);
        background-color: #5db291;
      }
    }

    span {
      font-weight: bolder;
      color: #eef7ff;
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      border-radius: 100%;
      padding: 50px;
      background-color: #7ab2b2;
      margin: 13px 0px;
    }
  }

  .questionListWrapper {
    overflow: auto;
    height: 45vh;
    box-shadow:
      rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
      rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    background-color: #f9ffff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #eee;
    border-radius: 15px;
    padding: 15px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: none;
    }

    &::-webkit-scrollbar-thumb {
      background: #3d8d7a;
      border-radius: 100px;
      cursor: pointer;
      transition: background-color 0.2s ease-in;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: darken(#3d8d7a, 5);
    }

    h3 {
      font-size: 1.4rem;
    }

    .questionList {
      display: flex;
      flex-direction: column;
      gap: 15px;
      justify-content: center;

      .questionListLink {
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 15px;
        border: 1px solid #3a705d;
        border-radius: 10px;
      }

      .active {
        transition: all 0.3s ease;
        border: 2px solid #3a705d;
      }
    }
  }
}
