@import 'src/assets/styles/abstracts/index';

.wrapper {
  .header {
    display: flex;
    justify-content: space-between;
    background-color: #4a8d8f;
    border: 1px solid #4a8d8f;
    border-radius: 12px;

    @include isMobile() {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      min-height: 195px;
    }
  }

  .savedIcons {
    cursor: pointer;

    @include isMobile() {
      position: absolute;
      top: 0;
      right: -1px;
    }
  }

  h2 {
    width: 100%;
    padding: 40px;
    font-size: 1.4rem;
    color: #eef7ff;

    @include isMobile() {
      padding: 20px;
      font-size: 1.2rem;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include isMobile() {
      gap: 10px;
    }

    .default {
      min-height: 73px;
      display: flex;
      justify-content: space-between;
      text-align: left;
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: 500;
      border-radius: 10px;
      padding: 20px;
      color: #3c5357;
      border: 2px solid #e2eded;

      @include isMobile() {
        padding: 10px;
        font-size: 1rem;
      }
    }
  }
}

.correct {
  border: 2px solid #4a8d8f !important;
  background-color: #4a8d8f !important  ;
  color: white !important;
}

.selected {
  border: 2px solid #4a8d8f !important;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
