@import 'src/assets/styles/abstracts/index';

.options {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include isMobile() {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }

  span {
    border: 1px solid #7fc7d9;
    padding: 10px;
    border-radius: 10px;
    color: #cfbacf;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: bold;

    @include isMobile() {
      display: none;
    }
  }

  .buttons {
    display: flex;
    gap: 20px;

    @include isMobile() {
      gap: 10px;
    }
  }

  .primary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    color: #302944;

    font-size: 1.2rem;
    font-weight: 500;
    border: 1px solid #cfbacf;
    padding: 10px 20px;
    border-radius: 12px;

    @include isMobile() {
      padding: 20px 25px;
      font-size: 0.8rem;
    }

    //&:hover {
    //  color: #EEF7FF;
    //  border: 1px solid #EEF7FF;
    //  background-color: #cfbacf;
    //  transition: all .4s linear;
    //}
  }

  .secondary {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eef7ff;
    background-color: #cfbacf;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 12px;

    @include isMobile() {
      padding: 20px 25px;
      font-size: 0.8rem;
    }
  }
}
