@import '../../assets/styles/abstracts/index';

.options {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include isMobile() {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }

  span {
    border: 1px solid #7fc7d9;
    padding: 10px;
    border-radius: 10px;
    color: #adc3df;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: bold;

    @include isMobile() {
      display: none;
    }
  }

  .buttons {
    display: flex;
    gap: 20px;

    border: 1.5px solid #dadada;
    border-radius: 10px;

    @include isMobile() {
      gap: 10px;
    }
  }

  .primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;

    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 20px;

    @include isMobile() {
      padding: 20px 25px;
      font-size: 0.8rem;
    }
  }

  .finish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #e7e6e9;

    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 20px;

    @include isMobile() {
      padding: 20px 25px;
      font-size: 0.8rem;
    }
  }

  .secondary {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 12px;

    @include isMobile() {
      padding: 20px 25px;
      font-size: 0.8rem;
    }
  }

  .navigation {
    display: flex;
  } 
}
